<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Food Waste</h1>
	
	<h2>Novo beneficiario</h2>
	
	<form action="/foodwaste/beneficiario" method="post" th:object="${beneficiario}">
		<label for="nome">Nome</label><br>
		<input id="nome" name="nome" th:field="*{nome}"><br>
		<span th:errors="*{nome}"></span><br>
		
		<label for="cartaoIdentificacao">Cartão Identificação</label><br>
		<textarea id="cartaoIdentificacao" name="cartaoIdentificacao" th:field="*{cartaoIdentificacao}"></textarea><br>
		<span th:errors="*{cartaoIdentificacao}"></span><br>
		
<!-- 		<label for="points">Pontos</label><br> -->
<!-- 		<input type="range" name="points" id="points" min=10 max=500 th:field="*{points}"><br> -->
<!-- 		<span th:errors="*{points}"></span><br> -->
		
		<a href="/foodwaste/beneficiario">Cancelar</a>
		<button>Salvar</button>
	</form>
</body>
</html>