<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

</head>
<body>


	<header>
        <nav>
            <div class="logo"></div>
            <ul>
                <li><a href="/foodwaste/">Sobre</a></li>
                <li><a href="/foodwaste/restaurante">Ver restaurantes</a></li>
                <li><a href="">Entrar</a></li>
                <li><a href="">Inscrever Pessoa</a></li>
                
            </ul>
        </nav>
    </header>

    <main>

        <section id="sobre">

            <div class="sobre">
                <div class="texto">
                   	<h1>Bem-vindo ao Memento!</h1>
	
					<h2>Faça refeições de lugares confiáveis e de graça!</h2>
                </div>
              
            </div>
        </section> 

    


    </main>

    <footer>
        <p>
            SixTI - Soluções Tecnológicas
        </p>
    </footer>
	
</body>
</html>